.button {
    display: flex;
    align-items: center;
    padding: 50px 50px 0 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.buttonImg {
    max-width: 25px;
    margin-right: 5px;
}

.pokeHold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.pokeHoldImg {
    max-width: 150px;
    transition: 800ms;
}

.buttonsBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsBar>.button {
    flex-direction: column;
}

.buttonsBar>.button .buttonImg{
margin:0 0 10px 0;
max-width: 35px;
opacity: 0.6;
}
.buttonsBar>.button:hover .buttonImg{
    opacity: 1;
    transition: 800ms;
    }
.namePokemon{
    font-weight: bold;
    transition: 800ms;
}

/***trick**/
.hidde{
    display: none;
}
.show{
    transition: 800ms;
}
.silhouette {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 1;
  }